html,
body {
  background: #f5f5f5;
}
#root {
  text-align: center;
}

/* Navigation bar */
.navbar {
  border-bottom: 1px solid grey;
  height: fit-content;
}
.navbar-brand {
  margin-left: 4rem;
}
.navbar-menu {
  margin-right: 6rem;
}

/* Icons */
.typcn {
  font-size: 1.2em;
}
.typcn-user-outline,
.typcn-bell {
  font-size: 1.5em;
}

/* Posts */
.post-list {
  max-width: 35vw;
  min-width: 320px;
  margin: auto;
}
.post {
  text-align: left;
  line-height: 1.2em;
}
