html,
body {
  background: #363534;
  font-size: 0.9em;
}

/* Navigation bar */
.navbar {
  border-bottom: 1px solid grey;
  height: fit-content;
  
}

.navbar.is-fixed-top.is-light {
  background:transparent;
  border: none;
}

.navbar-brand {
  margin-left: 1em;
}
.navbar-menu {
  
  margin-right: 6rem;
}

/* Icons */
.typcn {
  font-size: 1.2em;
}
.typcn-user-outline,
.typcn-bell {
  font-size: 1.5em;
}

/* Stream page */
.post-list {
  width: 100%;
  max-width: 500pt;
  margin: auto;
}
.list {
  background: transparent;
  box-shadow: none;
}
.post {
  text-align: left;
  line-height: 1.2em;
  font-size: 0.85em;
  margin: 1em;
}

/* Buttons global */
button {
  margin: 0.5em;
}

.modal-background {
  /* background-color: rgba(168, 168, 168, 0.6); */
  background-color: rgba(0, 0, 0, 0.5);
}

.pageloader {
  background: #555555 !important;
}

/* inbox scroll bar hidding */
/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

.Toastify__toast {
  border-radius: 6pt;
  padding: 1em;
  word-break: break-word;
}