html,
body {
  background: #555555;
  font-size: 0.9em;
}

/* Navigation bar */
.navbar {
  border-bottom: 1px solid grey;
  height: fit-content;
  
}

.navbar.is-fixed-top.is-light {
  background:transparent;
  border: none;
}

.navbar-brand {
  margin-left: 1em;
}
.navbar-menu {
  
  margin-right: 6rem;
}

/* Icons */
.typcn {
  font-size: 1.2em;
}
.typcn-user-outline,
.typcn-bell {
  font-size: 1.5em;
}

/* Stream page */
.post-list {
  max-width: 470pt;
  min-width: 340pt;
  margin: auto;
}
.list {
  background: transparent;
  box-shadow: none;
}
.post {
  text-align: left;
  line-height: 1.2em;
  font-size: 0.85em;
  margin: 1em;
}
/* Signup page */
.login-form {
  max-width: 320px;
  margin: auto;
}

/* Signup page */
.signup-form {
  max-width: 320px;
  margin: auto;
}

/* Buttons global */
button {
  margin: 0.5em;
}

.modal-background {
  /* background-color: rgba(168, 168, 168, 0.6); */
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(2pt);
}

.pageloader {
  background: #555555 !important;
}