name: Integration

on:
    push:
        branches:
            - main
            - development
    pull_request:
        branches:
            - main
            - development
jobs:
    build:
        runs-on: ubuntu-latest
        env:
            SECRET_KEY: "i_%fitgibir*bqtyl$*gn27&rddu!g&&92karhr)h@vm$--sxh"
        services:
            postgres:
                image: postgres:12.5
                env:
                    POSTGRES_USER: postgres
                    POSTGRES_PASSWORD: postgres
                    POSTGRES_DB: github_actions
                ports:
                    - 5432:5432
                options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        steps:
            - uses: actions/checkout@v1
            - name: Set up Python 3.7
              uses: actions/setup-python@v1
              with:
                  python-version: 3.7
            - name: psycopg2 prerequisites
              run: sudo apt-get install python3-dev libpq-dev
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
            - name: Run migrations
              run: |
                  cd backend
                  python manage.py migrate
            - name: Run tests
              run: |
                  cd backend
                  python manage.py test
